<div class="grid">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <p class="fw-bold fs-1">Get a clear view of the day ahead</p>
        <p class="fs-5">All your tasks that are due today will show up here.</p>

        <div class="d-flex justify-content-center">
            <div style="margin: 10px; padding: 10px;" type="button" class="btn text-white fw-bold"
                routerLink="/add-task">
                Add task
            </div>
            <div style="margin: 10px; padding: 10px;" type="button" class="btn text-white fw-bold" routerLink="/tasks">
                My tasks
            </div>
        </div>
    </div>
</div>


<lib-images></lib-images>