<lib-date></lib-date>

<div class="grid">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h2>Get a clear view of the day ahead</h2>
        <p>All your tasks that are due today will show up here.</p>
        <button type="button" class="btn btn-info" routerLink="/add-task">
            Add task
        </button>

        <button type="button" style="margin" class="btn btn-info" routerLink="/tasks">
            Show my tasks
        </button>

    </div>
    <div class="g-col-5" style="grid-row: 3">
    </div>
</div>